**/build/
**/.dart_tool/
**/.gradle/
**/.kotlin/
**/Pods/
**/ephemeral/
**/.symlinks/
**/xcuserdata/
**/.flutter-plugins-dependencies
**/Generated.xcconfig
**/flutter_export_environment.sh
**/local.properties
**/.env
**/.env.*
**/*.jks
**/*.keystore
**/*.p12
**/*.pfx
**/*.p8
**/*.pem
**/*.mobileprovision
**/key.properties
**/service-account*.json
**/*.log
