<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxB3tcuF4yZbodqa45vESPZu-iRouEcgM</string>
	<key>GCM_SENDER_ID</key>
	<string>340826672928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salllla.marchent</string>
	<key>PROJECT_ID</key>
	<string>sela-food-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>sela-food-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340826672928:ios:1e45f4bd6c079399479145</string>
	<key>DATABASE_URL</key>
	<string>https://sela-food-prod-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>